<h5>Employee List</h5>
<table class="table table-hover table-striped table-bordered table-sm">
	<thead>
		<tr style="color:white;background:black;text-align:center">
			<td style="text-align:center">firstName</td>
			<td style="text-align:center">lastName</td>
			<td colspan="2">Actions</td>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let employee of employees" style="text-align:center">
			<td style="vertical-align:middle">{{ employee.firstName }}</td>
			<td style="vertical-align:middle">{{ employee.lastName }}</td>
			<td style="vertical-align:middle"><a [routerLink]="['/editEmployee', employee._id]" class="btn btn-primary btn-sm">Edit</a></td>
			<td style="vertical-align:middle"><button (click)="deleteEmployee(employee._id)"  class="btn btn-danger btn-sm">Delete</button></td>
		</tr>
	</tbody>
</table>
